/* ****************************** 
Page configuration
****************************** * /
html {
}
body{
}
/*
  Sections Layout with CSS grid!
*/
body>main{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
body>main>header{
  grid-area: header;
}
body>main>section{
  grid-area: section;
}
body>main>aside{
  grid-area: aside;
  padding-bottom:1em;
}
/* Grid Areas */
body>main{
  grid-template-areas: 
    "header"
    "section"
    "aside";
}
/* Two columns layout, has to specify "print" mediaquery despite min-width */
@media (min-width:38em) {
  body>main{
    grid-template-columns: auto 10em;
    grid-column-gap: 1em;
    grid-template-areas: 
      "header aside"
      "section aside ";
    
  }
  body>main>aside{
    grid-area: aside;
    padding: 4.5em 0 0;
  }
}
@media (min-width:52em), print {
  body>main{
    grid-template-columns: auto 14em;
    grid-column-gap: 3em;
  }
}

/**********************
ONLY CSS MODAL
https://codepen.io/timothylong/pen/HhAer
***********************/
.modal-window {
  position: fixed;
  background-color: var(--modal-background);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 420px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.6em;
  background: var(--white);
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: var(--gray-light);
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: var(--black);
}
/* UL styles */
ul{
  padding:0;
  list-style: none;
}


/* ****************************** 
CUSTOM STYLES 1 - Default
****************************** */
/*
  Page Configuration
*/
html{
  font-family: monospace;
}
body {
  background:var(--gray-ultralight);
  padding: .6em;
  font-family: monospace;
}
body>main{
  max-width: 68em;
  margin: 0 auto;
  padding: 1.6em;
  background: var(--white);
  border:1px solid var(--gray-light-b);
  box-shadow: 3px 3px 3px var(--gray-light);
}
body>main>section>article>header>h3>img{
  height: 1.1em;
  width:auto;
  margin-right:.6em;
}
body>footer{
  max-width: 72em;
  margin: 1.6em auto;
}
@media screen and (min-width:26em){
  body {
    padding: 1.2em;
  }
  body>main{
    padding: 2.4em;
  }
  body>footer{
    margin: 2.4em auto;
  }
}
@media (min-width:38em), print{
  body {
    padding: 2em;
  }
  body>main{
    padding: 4em;
  }
  body>footer{
    margin: 4em auto;
  }
}
/*
  Headings and Paragraph
*/
h1{
  font-size: 2em;
  margin: 0;
  line-height: 1;
}
h2{
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 0.37em 0;
  color:var(--gray-medium);  
}

h3{
  display:inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 1.15em;
}

h4{
  margin: 0 0 0.3em;
  font-size: 1em;
  font-weight: normal;
  color:var(--gray-medium);
}
h5{
  font-size: 1em;
  margin: .6em 0 0;
  font-weight: normal;
  font-style: italic;
}
h6{
  font-size: 1em;
  margin: 0;
}
p{
  margin: 0 0 .6em 0;
}
header + p{
  margin: 0 0 .8em 0;
}
@media (min-width:38em), print{
  h1{
    font-size: 2em;
    margin: 0;
    
  }
  h2{
    font-size: 1.4em;
    margin: 0 0 0.47em 0;
  }
}
/*
  Main Section content Layout *******************
*/
/* One job */
body > main > section > article{
  padding-top: 1.6em;
}

/* 
  Unordered Lists *******************************
*/
ul{
  margin:0;
  font-size: .9em;
  list-style-type:"· ";
  list-style-position: inside;
}
.description{
  margin-top:1.1em;
  font-size: 1.1em;
}
.job-tags{
  list-style-type: none;
  font-size: .8em;
  margin-top:.6em;
}

.job-tags li{
  display: inline-block;
  font-weight: bold;
}

.job-tags li:after{
  content: " ·";
}

.job-tags li:last-child:after{
  content: "";
}

/*
  Aside Layout *************************
*/
/* Logo */
body > main > aside > figure{
  margin: 0 0 1em;
}
body > main > aside > figure img{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
body > main > aside > figure img.no-print{
  border-radius: 50%;
}
body > main > aside > figure img.only-print{
  border-radius: 6px;
  filter:brightness(0.9);
}

/* Table of Skills */
body > main > aside > article{
  padding-bottom: 2em;
}
body > main > aside > article h4{
  font-weight: bold;
  font-size: 1.1em;
  color:var(--black);
}
body > main > aside > article h5{
  font-weight: normal;
  color:var(--gray-dark);
  font-size: .9em;
  font-style: normal;
}
.level{
  position: relative;
  box-sizing: border-box;
  border-bottom:2px solid var(--gray-light-b);
}
.level:after{
  content: " ";
  position: absolute;
  box-sizing: border-box;
  width: 0%;
  left:0;
  bottom:-2px;
  border-bottom:2px solid var(--black);
}

/* 
  Socialmedia Links ******************
*/
body > main > aside a{
  display: inline-block;
  width:100%;
  line-height: 1.4em;
  font-weight: bold;
  text-decoration: none;
  color:var(--black);
}
body > main > aside a:hover{
  text-decoration: none;
  color:var(--gray-dark);
}
body > main > aside a img{
  height: 1.4em;
  width:auto;
}

/*
  Profile Image, different in print mode (discarded) *******************
*/
@media screen and (max-width:38em){
  body > main > aside > figure{
    text-align: center;
  }
  body > main > aside > figure img{
    width: 12em;
  }
  body > main > aside a{
    width:25%;
    padding-left:0;
    float: left;
  }
}
@media screen and (max-width:26em){
  body > main > aside > figure img{
    width: 9em;
  }
  body > main > aside a{
    width:50%;
    text-align: center;
  }
}
/*
 BUTTONS!
*/
.btn{
  display:inline-block;
	cursor: pointer;
  border-radius: 0px;
  text-decoration: none;
  padding: .8em 1em;
  font-size: .8em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight:700;
  letter-spacing: 3px;
  transition: all .4s ease-in-out;
}
.btn .icon{
  height: 1.2em;
  width:auto;

}
.btn-mid {
    padding: 1em 1.2em;
    font-size: 1em;
    line-height: 1.5em;
}
.btn-mid .btn--icon{
  height: 1.5em;  
}
.btn-big {
    padding: 1.2em 1.5em;
    font-size: 1.4em;
    line-height: 2em;
}
.btn-big .btn--icon{
  height: 2em;  
}
.btn-light{
    border:2px solid var(--gray-medium);
    background: transparent;
    color: #555;
}
.btn-light:hover,.btn-light:active{
    background: var(--white);
    color: var(--black);
}
.btn-dark{
    border:2px  solid #333;
    background: var(--gray-dark);
    color: var(--gray-light-b);
}
.btn-dark:hover, .btn-dark:active{
    border:solid 2px var(--black);
    background: var(--black);
    color: var(--white);
}
/* 
Typewriter effect. Genius!
https://codepen.io/t_afif/pen/MWoabrq
*/
@media (min-width:38em) {
  .typewriter {
    display:inline-flex;
  }
  
  .typewriter span {
    word-break: break-all;
    height: 1.2em;
    width:0%;
    overflow: hidden;
    animation:typewriter 3s linear 2s 1 normal forwards;
  }

  .typewriter span:before {
    content:" ";
    display:inline-block;
  }

  .typewriter span.typewriter--first {
    animation-duration: 2s;
    animation-delay:1s;
  }
}

@keyframes typewriter{
  90%,100% {width:100%}
}

/* Skills level animated bars */
.level--1:after{
  animation:level1 0.5s linear 4s 1 normal forwards;
}
.level--2:after{
  animation:level2 1s linear 4s 1 normal forwards;
}
.level--3:after{
  animation:level3 1.5s linear 4s 1 normal forwards;
}
.level--4:after{
  animation:level4 2s linear 4s 1 normal forwards;
}
.level--5:after{
  animation:level5 2.5s linear 4s 1 normal forwards;
}

@keyframes level1{
  90%,100% {width:20%}
}
@keyframes level2{
  90%,100% {width:40%}
}
@keyframes level3{
  90%,100% {width:60%}
}
@keyframes level4{
  90%,100% {width:80%}
}
@keyframes level5{
  90%,100% {width:100%}
}
/* ****************************** 
Common CSS helpers
****************************** */
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
/* ****************************** 
Selection
****************************** */
::-moz-selection {
  background: #D8D7BA;
  color:#000;
}

::selection {
  background: #D8D7BA;
  color:#000;
}
/* ****************************** 
Print related styles  
****************************** */
.only-print{display:none;}
@media print {
  /* Browser page configuration */
  @page{
    size: auto;
    margin: 0.4in;
  }
  /* Base styles */
  body {
    background:var(--white);
    padding: 0;
  }
  body>main{
    width: 100%;
    max-width: auto;
    margin: 0;
    padding: 0;
    border:0px solid var(--white);
  }
  /*Hide Links URL when print*/
  a[href]:after {
    content: none !important;
  }
  /* Helper classes*/
  .no-print{display:none!important;}
  .only-print{display:block!important;}

  
  /* Remove left padding on sm links */
  body > main > aside a{
    padding-left:0;
  }

  /* Don't use typewriter effect in print mode */
  .typewriter span, .typewriter--start span{
    width:100%!important;
  }

  /* Remove animation effect on level */
  .level--1:after{
  width: 20%;
  }
  .level--2:after{
    width: 40%;
  }
  .level--3:after{
    width: 60%;
  }
  .level--4:after{
    width: 80%;
  }
  .level--5:after{
    width: 100%;
  }
}

/* CSS vars */
:root{

  /*Colors*/
  --black:#000;
  --white:#FFF;
  --gray-dark:#333;
  --gray-medium:#666;
  --gray-light:#AAA;
  --gray-light-b:#CCC;
  --gray-ultralight:#DDD;
  --modal-background:rgba(0, 0, 0, 0.55);
}
